<div class="container mt-5">
    <div class="row">
        <aside class="col-sm-3 mr-10">
            <div  class="mr-5">
                <div class="row justify-content-center mb-5">
                    <u><a href="acc.html">Account</a></u>
               </div>
               <div class="row">
                    <button type="button" onclick="location.href='SignInComponent.html';" class="btn btn-primary btn-block mb-3">Login</button>   
               </div> 
               <div class="row">
                   <button type="button" class="btn btn-primary btn-block mb-3">Register</button>
                </div>       
            </div>
        </aside>    
    </div>
 </div>    
 
